:root {
  --font-family: Roboto, Arial, sans-serif;
}

html {
  height: 100%;
}
body {
  font-family: var(--font-family);
  height: 100%;
  margin: 0;
}
#main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#top-container {
  align-items: flex-end;
  border-bottom: solid 1px #ddd;
  display: flex;
}
#search-input {
  margin: 4px;
  width: 100px;
}
#search-button {
  margin: 4px;
  margin-left: 0;
}

/* https://css-tricks.com/better-tabs-with-round-out-borders/ */
#tabs {
  line-height: 24px;
  list-style: none;
  margin: 0;
  margin-left: 2px;
  padding: 0;
  position: relative;
  text-align: center;
}
#tabs li {
  background-color: #eee;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 8px;
}
#tabs li.selected {
  background: #fff;
  color: #000;
  cursor: default;
  position: relative;
}
#tabs li.selected:after {
  border-bottom: 1px solid white;
  bottom: -1px;
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#content-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#content-message {
  background-color: #c44;
  border-radius: 6px;
  color: white;
  display: none;
  font-size: 12px;
  left: 4px;
  padding: 4px 8px;
  position: absolute;
  top: 4px;
  z-index: 1;
}
#content-iframe {
  border: none;
  transform-origin: 0 0;
}
