html {
  height: 100%;
}
body {
  height: 100%;
}

#search-input {
  /* Seems to use primary color otherwise, making it invisible:
   * https://github.com/vuetifyjs/vuetify/issues/9534 */
  caret-color: black;
  flex-grow: 1;
  max-width: 200;
}

.tabs {
  width: fit-content;
}
.tab {
  min-width: 60px;
}

.spinner {
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  position: fixed;
  top: 50%;
}

.content-wrapper {
  overflow: hidden;
  width: 100%;
}
.content-iframe {
  border: none;
  transform-origin: 0 0;
}
