<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-app-bar app color="primary" dense class="white--text">
            <v-toolbar-items>
              <v-text-field
                id="search-input"
                v-model="inputWord"
                @keydown="onSearchInputKeydown"
                clearable
                placeholder="Enter word"
                class="pb-0 mt-2"
              ></v-text-field>
              <v-btn :disabled="!cleanedInputWord.length" @click="onSearchButtonClick" icon
                ><v-icon>mdi-file-find</v-icon></v-btn
              >
              <v-tabs v-model="tab" background-color="primary" slider-color="accent" class="tabs ml-2">
                <v-tab v-for="site in sites" :key="site.id" @change="onTabChange" class="tab">{{ site.abbrev }}</v-tab>
              </v-tabs>
            </v-toolbar-items>
          </v-app-bar>
          <v-tabs-items v-model="tab" :style="{ height: `${contentHeight}px`}">
            <v-tab-item v-for="site in sites" :key="site.id">
              <v-alert v-model="alertShown[site.id]" border="bottom" color="error" dark dense dismissible
                >{{ alertText[site.id] }}</v-alert
              >
              <div class="content-wrapper" :style="{ height: `${contentHeight}px`}">
                <iframe :src="urls[site.id]" :style="getFrameStyle(site.id)" class="content-iframe"></iframe>
              </div>
            </v-tab-item>
          </v-tabs-items>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
