<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ASL Lookup</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta name="theme-color" content="#b0bec5" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app color="primary" dense class="white--text">
          <v-toolbar-items>
            <v-text-field
              id="search-input"
              ref="searchInput"
              v-model="inputWord"
              @keydown="onSearchInputKeydown"
              autofocus
              clearable
              placeholder="Enter word"
              class="pb-0 mt-2"
            ></v-text-field>
            <v-btn :disabled="!cleanedInputWord.length" @click="onSearchButtonClick" icon
              ><v-icon>mdi-file-find</v-icon></v-btn
            >
            <v-tabs v-model="tab" background-color="primary" slider-color="accent" class="tabs ml-2">
              <v-tooltip v-for="tab in tabs" :key="tab.abbrev" bottom :disabled="!tab.tooltip">
                <template #activator="{ on, attrs }">
                  <v-tab v-bind="attrs" v-on="on" @change="onTabChange" class="tab">
                    {{ $vuetify.breakpoint.xs ? tab.abbrev : tab.name }}
                  </v-tab>
                </template>
                <span>{{ tab.tooltip }}</span>
              </v-tooltip>
            </v-tabs>
          </v-toolbar-items>
        </v-app-bar>
        <v-main>
          <v-tabs-items v-model="tab" :style="{ height: `${contentHeight}px`}">
            <v-tab-item v-for="(tab, i) in tabs" :key="tab.abbrev">
              <v-alert v-model="tab.alertShown" border="bottom" color="error" dark dense dismissible tile
                >{{ tab.alertText }}</v-alert
              >
              <v-progress-circular v-if="tab.loading" indeterminate size="48" class="spinner"></v-progress-circular>
              <div v-else class="content-wrapper" :style="{ height: `${contentHeight}px`}">
                <iframe :src="tab.url" :style="getFrameStyle(i)" class="content-iframe"></iframe>
              </div>
            </v-tab-item>
          </v-tabs-items>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
