html {
  height: 100%;
}
body {
  height: 100%;
}

#search-input {
  /* Seems to use primary color otherwise, making it invisible:
   * https://github.com/vuetifyjs/vuetify/issues/9534 */
  caret-color: black;
  min-width: 120px;
}

.tab {
  min-width: 60px;
}

.content-wrapper {
  overflow: hidden;
  width: 100%;
}
.content-iframe {
  border: none;
  transform-origin: 0 0;
}
/*
#content-message {
  background-color: #c44;
  border-radius: 6px;
  color: white;
  display: none;
  left: 4px;
  padding: 4px 8px;
  position: absolute;
  top: 4px;
  z-index: 1;
}
*/
